*.vim
*.swp
*.swo
*.idea
*.vscode
*.pem
*.dSYM
*.DS_Store
*.cert
*.key
*.env
node_modules/
*.priv
*.pub
dist/
*.log
*.db
shared

#except
!services.env
!services-debug.env
segfaultx-oauth.json
segfaultx2.json
