.btn-allow {
  background: var(--pong-white);
  color: var(--pong-black);
  margin-top: 1rem;
  box-shadow: 0px 4px 6px var(--pong-brown);
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-deny {
  background: var(--pong-white);
  color: var(--pong-black);
  margin-top: 1rem;
  box-shadow: 0px 4px 6px var(--pong-brown);
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn-allow:hover {
  background: var(--pong-tangarine);
}

.btn-deny:hover {
  background: var(--pong-tangarine);
}
